body
    +light
    color: $text-color
.button-o
    text-transform: uppercase
    border: 2px solid $primary
    padding: 17px 22px
    font-size: 12px
    background-color: #fff
    +bold
    color: $primary
    
.button 
    padding: 25px 45px
    text-transform: uppercase
    border: none
    background-color: $primary
    color: #fff
    +bold
.bg-secondary
    background-color: $bg-secondary
.input 
    height: 80px
    padding-left: 30px
    width: 100%
    border: 1px solid #dddddd
.checkbox
    display: none
    &:checked + label:before
            background-color: $primary
    &-label
        display: flex
        align-items: center
        margin-right: 40px
        &:hover
            cursor: pointer
        &:before
            display: inline-block
            content: ""
            width: 30px
            height: 30px
            border: 1px solid #dddddd

@media (max-width: 576px)
    .button-o
        font-size: 10px