body
    +light
    color: $text-color
.button-o
    text-transform: uppercase
    border: 2px solid $primary
    padding: 17px 22px
    font-size: 12px
    background-color: #fff
    +bold
    color: $primary
    
.button 
    padding: 25px 45px
    text-transform: uppercase
    border: none
    background-color: $primary
    color: #fff
    +bold
    